<form [formGroup]="triviaForm">
  <!-- Select category -->
  <div *ngIf="categories$ | async as categories; else noCategories">
    <h2 class="text-2xl">Select your preferred trivia category:</h2>
    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <ng-template #noCategories>
    <p>No categories returned. Please refresh or try again later.</p>
  </ng-template>

  <!-- Trivia questions -->
  <div class="py-4" *ngIf="hasCategory; else noCategorySelected">
    <span *ngIf="hasQuestions; else noQuestionsAvailable">
      <div
        class="py-2"
        *ngFor="let triviaQuestion of triviaQuestions; let i = index"
      >
        <p>{{ i + 1 }}: {{ triviaQuestion.question }}</p>

        <mat-radio-group class="flex flex-col" formControlName="answers">
          <mat-radio-button
            class="px-2 rounded-md"
            aria-label="Select an answer"
            *ngFor="let answer of triviaQuestion.answers; let j = index"
            [value]="answer"
          >
            {{ answer }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </span>
  </div>

  <ng-template #noCategorySelected>
    <p>Please select a category to play Trivia Geek.</p>
  </ng-template>

  <ng-template #noQuestionsAvailable>
    <p>No questions available at this time.</p>
  </ng-template>
</form>
